/* styles.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}
header{
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  width: 100%;
  height: 60px;
  color: white;
}
header div#nav{
  padding: 0px 15px;
  top: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-items: space-evenly;
}
header div.down{
  border: none;
  padding-top: 0px;
  background-color: black;
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0px;
  margin-top: -40px;
  margin-left: auto;
  margin-right: 0px;
  transition: 800ms;
}
div.down input.src{
  background-color: rgba(133, 133, 133, 0.74);
  height: 0px;
  width: 96vw;
  border-radius: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 10px;
  opacity: 0;
  transition: 2s;
}
div.down input.src::placeholder{
  color:white;
  opacity: 0.6;
}
div.down div.item{
  background-color: rgba(133, 133, 133, 0.74);
  height: 0px;
  width: 95vw;
  border-radius: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 2s;
}
div.accr{
  height: 25px;
  width: 5px;
  background-color:white;
  border-radius: 10px;
  margin-right: 5px;
}
div.sdbutton{
  transform: rotate(45deg);
  height: 6px;
  width: 6px;
  border: solid;
  border-left: none;
  border-bottom: none;
  border-width: 3px;
  margin-left: auto;
  margin-right: 20px;
}
div.subdrop{
  height: 0px;
  width: 89vw;
  background-color: rgba(133, 133, 133, 0.74);
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  flex-direction: column;
  padding: 10px;
  opacity: 0;
  display: none;
  transition: 2s;
}
div.boxbuble{
  width: 100vw;
  height: 0px;
  display: flex;
  justify-content: center;
  margin-top: auto;
}
header div.buble{
  background-color: black;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
header div.buble .dbutton{
  transform: rotate(135deg);
  height: 6px;
  width: 6px;
  border: solid;
  border-left: none;
  border-bottom: none;
  border-width: 3px;
  margin: auto;
  background-color: black;
}
header h1{
}
header h4{
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 65px;
  color: black;
  background-color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: 30px;
}
main {
  flex: 1;
  padding: 60px 5px 5px 5px;
  margin-bottom: 10vh;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: black;
  margin-top: -10vh;
  border-radius: 20px;
  width: auto;
  height: 65px;
}
nav img{
  background-color: black;
  width: 30px;
  padding: 15px 15px 10px 15px;
  border-radius: 25px;
  transition: 800ms;
}
h3{
  margin-top: -5px;
  color: White;
  display: none;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
